[submodule "output"]
	path = output
	url = git@github.com:endafarrell/endafarrell.github.io.git
	ignore = all
[submodule "plugins/materialbox"]
	path = plugins/materialbox
	url = git@github.com:greizgh/pelican-materialbox.git
