[submodule "output"]
	path = output
	url = git@github.com:endafarrell/endafarrell.github.io.git
	ignore = all
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
