{% extends "base.html" %}


{% block title %}
    All categories
{% endblock %}


{% block top_center %}
    <h1>
        <a href="{{ SITEURL }}/{{ CATEGORIES_SAVE_AS }}" rel="bookmark"
           title="Permalink to category list">Categories</a>
    </h1>
{% endblock %}


{% block content %}

    {% set all_categories = [] %}
    {% for category, articles in categories %}
        {% if all_categories.append({'name': category.name, 'url': category.url, 'articles': articles|length()}) %}{% endif %}
    {% endfor %}

    <div>
        {% for category in all_categories|sort(reverse = True, attribute = 'articles') %}
            <h3><a href="{{ SITEURL }}/{{ category.url }}">{{ category.name }}</a></h3>
            <p><a href="{{ SITEURL }}/{{ category.url }}">{{ category.articles }}
                article{{ 's' if category.articles > 1 else '' }}
                {% if CATEGORY_DESC %}
                    {% if CATEGORY_DESC.get(category.name) %}
                        {{ CATEGORY_DESC.get(category.name) }}
                    {% endif %}
                {% endif %}
            </a></p>
        {% endfor %}
    </div>

{% endblock %}
